.main-div{
    display: flex;
}
.col-1{
    background-color:red;
    margin-left: 50px;
    padding-left: 30px;
}
.sub-div{
    margin-left: 30px;
    margin-right: 50px;

    
}
.col-2{
    background-color: green;
    margin-bottom: 20px;


}
.col-3{
    background-color: green;

}