  
  body{
   width: 500px;
   margin-left: 300px;
  }
  header{
    background-color: orange;
    color: white;
    margin:0%;
    padding: 4px;
 }
 h1{
   font-size: 20px;
   color: yellow;
 }
 footer{
    background-color: orange;
    color: white;
    margin:0%;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 350px;
 }
 .main-div{
   
    padding: 50px;
   background-color: black; 
   color: yellow;
   

}
.btn1{
    background-color: green;
    border: 0;
    padding: 5px;
    width: 60px;
}
.btn2{
    background-color: red;
    border: 0;
    padding: 5px;
    width: 60px;
}
label,input{
   margin: 10px;
   text-align: right;
}
label{
   text-align: right;
}
