.main-div{
    background-color: black;
    color: pink;
    margin: 50px;
    width: 300px;
}
table,th,td{
    border: 1px dashed;
    border-collapse: collapse; 
    width: 300px;
    height: 30px;


}